$post-size: 2rem;

.post-request {
  font-size: $post-size/2;
  line-height: $post-size/2;
  width: 100%;
}
.prayer-request-card {
  margin-top: $post-size;
}
.prayer-requests {
  margin-top: $post-size;
}
