<div fxFlex="100" class="prayer-requests" fxLayout="row wrap" *ngIf="userId">
  <div class="mat-title" fxFlex="100">
    Prayer requests <span fxFlex></span
    ><button
      mat-button
      mat-raised-button
      (click)="onClickMine()"
      [color]="mine ? 'accent' : 'default'"
    >
      {{mine ? "Load all" : "Load mine"}}
    </button>
  </div>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around start">
    <ng-container *ngFor="let post of posts$ | async">
      <mat-card
        fxFlex="30"
        style="margin-bottom: 1rem"
        *ngIf="post?.post_status !== 'POST_DELETED'"
        fxLayout="row wrap"
      >
        <span fxFlex="100" class="mat-subheading-1">{{ post.text }}</span>
        <!-- <span fxFlex="100">{{ post.created_by }}</span> -->
        <div fxLayoutAlign="space-between center" fxLayout="row" fxFlex>
          <div>Prayed by {{ post.prayed?.length }}</div>
          <button mat-icon-button [color]="post?.didIPray ? 'default' : 'accent'" (click)="onClickPray(post)">
            {{post?.didIPray ? "Prayed" : "Pray"}}
          </button>
          <button mat-icon-button *ngIf="isItMine(post)" (click)="onClickDeletePost(post)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button (click)="onClickDetails(post)">
            <mat-icon>visibility</mat-icon>
          </button>
        </div>
      </mat-card>
    </ng-container>
    <div *ngIf="(posts$ | async)?.length === 0">No prayer requests</div>
  </div>
</div>
